<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: header">
</head>
<body>

<div th:replace="fragments :: nav"></div>

<div>
    <p th:unless="${goals} and ${goals.size()}">No Goals!</p>

    <div>
        <h2>Goals</h2>
<!--        <ul>
            <li th:each="goal : ${goals}">

                <a th:href="@{'/goal/view/' + ${goal.id}}" th:text="${goal.title}"></a>
            </li>
        </ul>-->


        <table>
            <thead>
            <tr>
                <th>Cost</th>
                <th>Amount Saved</th>
                <th>Completed?</th>
                <th>Public?</th>
            </tr>
            </thead>
        </table>

        <table>
            <thead>
            <tr th:each="goal : ${goals}">
                <td><a th:href="@{'/goal/view/' + ${goal.id}}" th:text="${goal.title}"></a></td>
                <td th:text="${goal.cost}"></td>
                <td th:text="${goal.amountSaved}"></td>
                <td th:text="${goal.completed}"></td>
                <td th:text="${goal.isPublic}"></td>
            </tr>
            </thead>
        </table>

    </div>
</div>

</body>
</html>