<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: header">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/css/edit_table.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/edit_table.js}"></script>
</head>
<body>

<div th:replace="fragments :: nav"></div>

<h2>My Goals</h2>
<div class="table">
    <p th:unless="${goals} and ${goals.size()}">No Goals!</p>
    <div class="thead">
            <div class="tr">
                <div class="td">Title</div>
                <div class="td">Cost</div>
                <div class="td">Amount Saved</div>
                <div class="td">Completed?</div>
                <div class="td">Public?</div>
            </div>
    </div>
            <div class="tbody">
            <form class="tr" th:each="goal : ${goals}">
                <p th:text="${goal.id}" hidden></p>
                <div class="td" th:id="${goal.id}"><a th:href="@{'/goal/view/' + ${goal.id}}" th:text="${goal.title}"></a></div>
                <div class="td" th:text="${goal.cost}"></div>
                <div class="td" th:text="${goal.amountSaved}"></div>
                <div class="td" th:text="${goal.completed}"></div>
                <div class="td" id="isPublic" th:id="${goal.id} + ' isPublic'" th:text="${goal.isPublic}"></div>
                <div class="td action"><button type="button" onclick="edit(this);">edit</button></div>
            </form>
            </div>
        </div>
</body>
</html>
