<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: header">
</head>
<body>

<div th:replace="fragments :: nav"></div>

<div>
    <h2>Goal Savings Goal View</h2>
</div>

    <div>



        <h2 th:text="${goal.title}">Goal</h2>
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div class="td">Title</div>
                    <div class="td">Cost</div>
                    <div class="td">Amount Saved</div>
                    <div class="td">Completed?</div>
                    <div class="td">Public?</div>
                </div>
            </div>
            <div class="tbody">
                <form class="tr">
                    <p th:text="${goal.id}" hidden></p>
                    <div class="td" th:id="${goal.id}" th:text="${goal.title}"></div>
                    <div class="td" th:text="${goal.cost}"></div>
                    <div class="td" th:text="${goal.amountSaved}"></div>
                    <div class="td" th:text="${goal.completed}"></div>
                    <div class="td" id="isPublic" th:id="${goal.id} + ' isPublic'" th:text="${goal.isPublic}"></div>
                    <div class="td action" th:if="${goal.user == user}"><button type="button" onclick="edit(this);">edit</button></div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
