<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: header">
</head>
<body>

<div th:replace="fragments :: nav"></div>

<div>
    <h2>Goal Savings Goal View</h2>
</div>

<form method="post">
    <div>
        <label for="title">Title</label>
        <input id="title" th:field="${goal.title}">
        <table>
            <thead>
            <tr>
                <th>Cost</th>
                <th>Amount Saved</th>
                <th>Completed?</th>
                <th>Public?</th>
            </tr>
            </thead>
        </table>

        <label for="cost"></label>
        <label for="amountSaved"></label>
        <label for="completed"></label>
        <label for="isPublic"></label>
        <table>
            <thead>
            <tr>
                <input>
                <td id="cost" th:text="${goal.cost}"></td>
                <td id="amountSaved" th:text="${goal.amountSaved}"></td>
                <td id="completed" th:text="${goal.completed}"></td>
                <td id="isPublic" th:text="${goal.isPublic}"></td>
            </tr>
            </thead>
        </table>

    </div>

    <input type="submit" value="Create" />
</form>

</body>
</html>
